* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #0C359E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F6F5F5;
    min-width: 40rem;
    min-height: 10rem;
    height: auto;
    width: auto;
    border: 5px solid #EE99C2;
    border-radius: 15px;
}

.heading {
    color: #19007b;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid;
}

.question {
    margin: 10px;
    padding: 10px;
}

.opt-btn {
    width: 100%;
    margin: 20px auto 0px;
    padding: 5px;
    border: 1px solid #19007b;
    border-radius: 5px;
    color: #19007b;
    background-color: #FFE3CA;
    font-weight: 600;
    cursor: pointer;
}

.opt-btn:hover:not([disabled]) {
    border: 1px solid black;
    color: white;
    background-color: #19007b;
}

.opt-btn:disabled {
    cursor: no-drop;
}

.opt-container {
    padding: 10px;
    margin: 10px;
}

.next-btn>button {
    margin: 10px;
    width: 6rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: #19007b;
    font-weight: 600;
    cursor: pointer;
    display: none;
}

.next-btn>button:hover {
    border: 1px solid #19007b;
    color: #19007b;
    background-color: #FFE3CA;
}

.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.correct {
    background-color: #7dff7d;
}

.incorrect {
    background-color: #e96565;
}